extends layout

block content
  h1 URL Shortener Microservice
  h2 Short URL Creation
  form
    fieldset
      legend URL Shortener
      label URL: 
      input(type="text" name="")
      button(type="submit") POST URL
